/**************/
/* CSS REMEDY */
/**************/
/* @import url('https://fonts.cdnfonts.com/css/grota-sans-alt'); */

@font-face {
	font-family: Futura Pasatta;
	src: url('../fonts/futurapassata-bold.woff2');
  }
  @font-face {
	font-family: Grota sans;
	src: url('../fonts/grotasans-regular.woff2');
  }

*, *::after, *::before {
  box-sizing:border-box;
  text-decoration: none;  
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--footer-background-color: #78b433;
	--footer-text-color: #2f3539;
}





/****************/
/* JOUW STYLING */
/****************/

.menu-button {
    display: block;
    cursor: pointer;
  }

  /* Show the menu when the menu button is clicked */
  .menu-button:focus + nav {
    display: block;
  }


header div{

	background-color: var(--footer-background-color);
	width: 100%;
	padding: 1.5em;
	position: relative;
}

header div button {
	background-color: darkorange;
	padding: 0.7em;
	margin: 0.2em;
	border-radius: 5em;
	border: none;
	position: absolute;
	right: 2em;
	top: 0.3em;
	color: white;
	font-family: Arial , Helvetica, sans-serif;
	font-weight: 700;
	text-shadow: #111;
}

header nav {
	
	justify-content: space-between;
	align-items: center;
	background-color: white;
	display: flex;
	justify-content: space-between;

}

header nav ul {
	display: flex;
	flex-direction: row;
}


.banner{
width:100%;
height:auto;
}

.banner2{
	width:100%;
	height:auto;
	}

main section{
	display: flex;
	flex-wrap: wrap;
}

main section:first-of-type {
	width: 100%;
}

footer{
	display: flex;
	flex-wrap: wrap;
	
}


footer section{
	display: block;
	min-width: 20em;
}

footer h3 {
	font-size: 1.5em;
	padding: 1em;
	text-transform: uppercase;
	font-family: Futura Pasatta, Arial, Helvetica, sans-serif;
	color: var(--footer-text-color);
}

footer section ul{
font-size: 1.1em;
padding: 0 1em;
font-family: Grota sans;

}

footer section li{
	padding: 0.5em;
	color: var(--footer-text-color);

}

footer section li:hover{
	text-decoration: underline;

}

footer section p {
	font-family: Grota sans;
	font-size: 1.1em;
	line-height: 1.7em;
	color: var(--footer-text-color);
	padding: 0 1.5em;
}









































footer {
	
	background-color: var(--footer-background-color);
}


@media (min-width: 62em) {

	footer .grid-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		width: 100%;
	  }
	
	  footer .the-end {
width: 100%;
background-color: white;
display:flex;
justify-content: space-between;

	  }
	 
	  footer .the-end ul {
		display: flex;
		flex-direction: row;
		margin: 2em 0;
		padding: 0 3em;
	

	  }

	  footer .the-end li {
		border-right: 0.05em solid gray;
	  }

	
	  .the-end article:nth-of-type(2){
		display: flex;
		flex-direction: row;
		margin: 2em 0;
		position: relative;
	  }

.the-end p {
	position: absolute;
	left: -10em;
}

.the-end img{

	height: 70%;
	width: 70%;
}

}