/**************/
/* CSS REMEDY */
/**************/

@font-face {
	font-family: Futura Pasatta;
	src: url('../fonts/futurapassata-bold.woff2');
  }
  @font-face {
	font-family: Grota sans;
	src: url('../fonts/grotasans-regular.woff2');
  }

*, *::after, *::before {
  box-sizing:border-box;
  text-decoration: none;  
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button, summary {
	cursor: pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	--color-text:#111;
    --essential-white: #fff;
	--color-background:#eee;
	--footer-background-color: #78b433;
	--footer-text-color: #2f3539;
	--campina-green: #78b433;
	--button-background-color: #dcf8ad;
	--product-box-border: rgba(0,0,0,0.15);
	--product-box-hover: rgba(0,0,0,0.3);
	--product-supermarket-hover: lightyellow;
	--page-title-color: #333;
    --top-page-background: darkorange;
    --nav-hover: rgb(22, 104, 22);

}


/****************/
/* MIJN STYLING */
/****************/

/* Header, #top-page: geldig voor zowel de home pagina als de producten pagina */

body {
	position: relative;
}

#top-page {
	background-color: var(--footer-background-color);
	width: 100%;
	padding: 1.5em;
	position: relative;
}

#top-page button {
	background-color: var(--top-page-background);
	padding: 0.7em;
	margin: 0.2em;
	border-radius: 5em;
	border: none;
	position: absolute;
	right: 2em;
	top: 0.3em;
	color: var(--essential-white);
	font-family: Arial , Helvetica, sans-serif;
	font-weight: 700;
	text-shadow: var(--color-text);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0em;
	margin: 0;
	position: sticky;
	top: 0em;
	background-color: var(--essential-white);
  }

header section{
	background-color: var(--footer-background-color);
	width: 100%;
	padding: 1.5em;
	position: relative;
}

header section button {
	background-color: var(--top-page-background);
	padding: 0.7em;
	margin: 0.2em;
	border-radius: 5em;
	border: none;
	position: absolute;
	right: 2em;
	top: 0.3em;
	color: var(--essential-white);
	font-family: Arial , Helvetica, sans-serif;
	font-weight: 700;
	text-shadow: var(--color-text);
}
  
  header img:first-of-type {
    width: 6em;
	height: 6em;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 1em;
    text-decoration: none;
    color: var(--footer-text-color);
	text-transform: uppercase;
	font-family: Futura Pasatta, Arial, Helvetica, sans-serif;
	transition: .2s;
	font-size: large;
  }

  header nav ul li a:hover {
    padding: 1em;
    text-decoration: none;
    color: var(--nav-hover);
	font-family: Futura Pasatta, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: underline;
  }

  header nav ul li a:active {
	color: red;
  }
  
  header form {
    display: flex;
    align-items: center;
  }
  
  header form input {
    padding: 0.6em 1em;
    border-radius: .5em;
    border: var(--page-title-color) solid 0.1em;
    outline: none;
	font-family: Futura Pasatta;
  }
  
  /* Header - Mobile */

  @media screen and (max-width: 62em) {

    /* De ruimte aanpassen tussen de elemeten for smaller screens */
    header {
        padding: 1em;
	    display: flex;
	    justify-content: space-between;
    }

	header form {
		display: none;
	}

	header nav div {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 2em;
		height: 2em;
		padding: 2em;
		border-radius: 5em;

	}

	header nav div span {
		padding: .1em 1em;
		margin: 0.2em;
		background-color: var(--color-text);
		border-radius: 5em;
		transition: 0.1s;
	}

/* De navigatie verbergen om de hamburger menu te laten verschijnen */

	header nav ul {
		display: none;
		padding: 0;
		margin: 0;
		list-style: none;
	  }

	  body.active {
		position: relative;
	  }

	  nav.active ul {
		display: flex;
		flex-direction: column;
		align-items: left;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		padding-top: 8em;
		margin: 0;
		width: 25em;
		height: 100vh;
		background-color: var(--essential-white);
		animation: slide-right 0.5s ease-out;
	  }

	  nav.active ul li {
		padding:1em;
		border-bottom:  0.05em solid var(--footer-text-color);
		transition: 0.2s;
		/* box-shadow: 0px 0px 5px #ccc; */
	  }

	  nav.active ul li:first-of-type {
		padding:1em;
		border-top:  0.05em solid var(--footer-text-color);
		border-bottom:  0.05em solid var(--footer-text-color);
		transition: 0.2s;
		/* box-shadow: 0px 0px 5px #ccc; */
	  }

	  nav.active ul li a {
		color: var(--color-text);
		text-decoration: none;
	  }

	  nav.active ul li a:hover {
	  color: var(--footer-background-color);
	  }

	  nav.active div {
		position: relative;
		z-index: 300;
	  }

	  nav.active div span:nth-of-type(2){
		display: none;
	  }

	  nav.active div span:nth-of-type(1){
		transform: rotate(45deg);
		position: absolute;
		bottom: 50%;
	  }

	  nav.active div span:nth-of-type(3){
		transform: rotate(-45deg);
		position: absolute;
		bottom: 50%;
	  }

	  @keyframes slide-right {
		from { transform: translateX(200%); }
		to { transform: translateX(0); }
	  }

  }





/* Footer. Geldig voor zowel de home pagina als de producten pagina */

footer {
	display: flex;
	flex-wrap: wrap;
	grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
	background-color: var(--footer-background-color);
}

footer section{
	display: block;
	min-width: 17em;
}

footer h3 {
	font-size: 1.5em;
	padding: 1em;
	text-transform: uppercase;
	font-family: Futura Pasatta, Arial, Helvetica, sans-serif;
	color: var(--footer-text-color);
}

footer section ul{
	font-size: 1.1em;
	padding: 0 1em;
	font-family: Grota sans;

}

footer section li{
	padding: 0.5em;
	color: var(--footer-text-color);
	transition: 0.2s;

}

footer section li:hover{
	text-decoration: underline;

}

footer section:last-of-type li:hover{
	color: var(--footer-background-color);
}

footer section p {
	font-family: Grota sans;
	font-size: 1.1em;
	line-height: 1.7em;
	color: var(--footer-text-color);
	padding: 0 1.5em;
}

footer a li:focus {
	background-color: var(--top-page-background);
}

footer a li:active {
	color: var(--color-background);
	font-weight: bold;
}

footer section:last-of-type {
	width: 100%;
	background-color: var(--essential-white);
	display:flex;
	flex-direction: column;
	align-items: center;
}


footer section:last-of-type article:nth-of-type(1){
	margin: 1em 0;
	padding: 1em 0;
	align-self: flex-start;
}

footer section:nth-of-type(4) ul:first-of-type > a > li:first-of-type {
    text-decoration: underline;
}

footer section:nth-of-type(4) > p:nth-of-type(2) > a {
    color: var(--footer-text-color);
    text-decoration: underline;
}


footer section:last-of-type span {
	margin: 0 0 1em 0;
	background-color: var(--page-title-color);
	width: 92%;
	height: 0.06em;
}

footer section:last-of-type article:nth-of-type(2){
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1.5em 0;
	
}


footer section:last-of-type img{
	height: 60%;
	width: 60%;
}


/* Footer - Mobile */

@media (min-width: 62em) {

footer .grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 100%;
}

footer section:last-of-type {
	width: 100%;
	background-color: var(--essential-white);
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}
	 
footer section:last-of-type ul {
	display: flex;
	flex-direction: row;
	margin: 2em 0;
	padding: 0 3em;
}

footer section:last-of-type li {
	border-right: 0.05em solid var(--page-title-color);
}

footer section:last-of-type article:nth-of-type(2){
	display: flex;
	flex-direction: row;
	margin: 1em 0;
	position: relative;
}

footer section:last-of-type p {
	position: absolute;
	left: -10em;
	top: 1em;
}

footer section:last-of-type img{
	height: 60%;
	width: 80%;
}

footer section:last-of-type span {
	display:none;
}


} 