
/* MAIN */

main img:nth-of-type(1){
	width:100%;
	height:auto;
}

main section {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

main section iframe {
	margin: 2em;
}

main section a {
	overflow: hidden; 
	margin: 2em;
	 /*zo heb ik ervoor gezorgd dat deze child (bijna) even groot is als de andere child (iframe) binnen de parent (section). */
	max-width: 35em;
}

